In [1]:
#print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [72]:
#print range 10 to 20
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [74]:
# Print number of items in the list by using 'len' 
list=[10,20,14,55,43,87,76]
print(list)
print("Number of item in the List2:",len(list),sep="\n")

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [48]:
string="Artificial Intelligence"
print(string)
for str in string:
    print(str)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [51]:
print("-Your Name-")
print("-Your age-")
print("-Your Profession-")

-Your Name-
-Your age-
-Your Profession-

In [53]:
name="shoban Raj"
age=30
Profession="Employee"
print("-Your Name-",name)
print("-Your age-",age)
print("-Your Profession-",Profession)

-Your Name- shoban Raj
-Your age- 30
-Your Profession- Employee

In [2]:
# Print yhis mixered datatype using Tuples
Tuple=(1,'Welcome',2,'HOPE')
print(Tuple)

(1, 'Welcome', 2, 'HOPE')

In [7]:
#tuple nested use tuple1=(0,1,2,3)
Tuple1=(0,1,2,3)
Tuple2=('python','HOPE')
print((Tuple1,Tuple2),sep=",")

((0, 1, 2, 3), ('python', 'HOPE'))

In [70]:
#print odd numbers in the list
num=(20,10,16,19,25,1,276,188)
print(num)
for val in num:
    if((val % 2)==1):
        print(val,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [69]:
#print even numbers in the list
num=(20,10,16,19,25,1,276,188)
print(num)
for val in num:
    if((val % 2)==0):
        print(val,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even